/* component/avatrer/avater.wxss */
.avater-wrap
  width: 72rpx
  height: 72rpx
  margin-right: 21rpx
  position: relative
  flex-direction: row

  .user-avater
    border-radius: 36rpx
    width: 100%
    height: 100%

  .user-verify
    position: absolute
    width: 23rpx
    height: 23rpx
    left: 50rpx
    bottom: 0