
@import '../../styles/iconfont.styl'

.list-cell
  // background-color gray
  margin: 20rpx 30rpx

  // background-color red
  .content
    font-size: 36rpx

    .delete
      font-size: 30rpx
      color: gray

    .user-wrap
      display: flex
      margin-bottom: 20rpx

      .name
        margin-left: 20rpx
        font-size: 30rpx

  .bottom-wrap
    display: flex
    justify-content: flex-end

    .icon-wrap
      display: flex
      margin-left: 30rpx

      .iconfont
        font-size: 50rpx
