@font-face
  font-family: 'iconfont' /* project id 968149 */
  src: url('//at.alicdn.com/t/font_968149_dboh1emd42c.eot')
  src: url('//at.alicdn.com/t/font_968149_dboh1emd42c.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_968149_dboh1emd42c.woff2') format('woff2'), url('//at.alicdn.com/t/font_968149_dboh1emd42c.woff') format('woff'), url('//at.alicdn.com/t/font_968149_dboh1emd42c.ttf') format('truetype'), url('//at.alicdn.com/t/font_968149_dboh1emd42c.svg#iconfont') format('svg')

.iconfont
  font-family: 'iconfont' !important
  font-size: 32rpx
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-comment:before
  content: '\e8e8'

.icon-like-hollow:before
  content: '\e7df'

.icon-like:before
  content: '\e849'

.icon-opus:before
  content: '\e791'

.icon-avater:before
  content: '\e607;'
