
.publish-wrap
  // background-color gray
  .input-wrap
    padding: 0 30rpx

    .input
      background-color: rgb(237, 237, 237)
      // width 100%
      width: 100%
      min-height: 150rpx
      border-radius: 10rpx
