/* pages/login/index.wxss */
.person-wrap
  .header
    display: flex
    flex-direction: column
    align-items: center

    // background-color gray
    .avater
      width: 150rpx
      height: 150rpx
      border-radius: 50%
      background-color: #e5e5e5

    .desc
      // background-color red
