
.comment-wrap
  padding: 30rpx 40rpx
  display: flex
  position: relative

  .avater-outer-wrap
    margin-top: 10rpx

  .content-wrap
    display: flex
    flex-direction: column
    padding-left: 20rpx

    .author
      font-size: 32rpx
      color: #b3b9c5

    .content
      font-size: 28rpx

  .comment-bottom
    width: 100%
    position: absolute
    left: 100rpx
    bottom: 0
    height: 2rpx
    background-color: #E0EBEE
