.detail-wrap
  padding-bottom: 200rpx

  .content-wrap
    background-color: #eef0f3
    padding: 20rpx 40rpx
    font-size: 32rpx
    color: #333

  .input-out-wrap
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background-color: white
